@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.column {
  float: left;
}

.sidebar{
  width: 200px;
  background: #0A2558;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.sidebar .logo-details{
  height: 80px;
  display: flex; 
  justify-content: center;
  margin-top: 18px;
}

.sidebar .logo-details:hover{
  background-color: #FFD401;
}

.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 45px;
  font-weight: 500;
}

.sidebar .logo-details .logo_name:hover{
  color: #081D45;
}

.sidebar .nav-links{
  margin-top: 50px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
  margin-bottom: 15px;
}

.logot{
  margin-top: 80px;
}

.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.sidebar .nav-links li a:hover{
  background: #081D45;
}

.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
}

.logout_{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  margin: auto;
  cursor: pointer;
 }
 
 .logout_:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #FFD401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }
 
 .logout_:hover::after {
  right: auto;
  left: 0;
  width: 100%;
 }
 
 .logout_ span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
 }
 
 .logout_:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }
 
.middle {
  width: 800px;
  margin-left: 220px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.mt{
  background-color: #0A2558;
  text-align: center;
  height: 70px;
  border-radius: 20px;
  border: 5px solid #FFD401;
}

.mt p{
  font-size: 50px;
  color: aliceblue;
  margin: auto;
}

.cardholder{
  float: left;
  width: 33%;
  padding: 0 10px;
  margin: auto;

}

.right{
  width: 300px;
  background: #0A2558;
  position: absolute;
  top: 0;
  right:0;
}

.FinalzeMenu{
 margin-left: 36px;
 margin-top: 16px;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 25px;
  font-weight: 900;
  color: #FFD401;
  border: 3px solid #FFD401;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
 }
 
 .btn:hover{
  color: #0A2558;
 }

 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:#FFD401;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .btn:hover::before {
  transform: translateX(0);
  color: #0A2558;

 }

 .rightcard{
  margin-left: 25px;
 }
