.card-container{
  background-color: aqua;
  width:15vw;
  height:30vh;
  padding:0.5vw;

}

.orderNo{
  padding-bottom: 5px;
  border-bottom: 1.5px solid rgb(57, 57, 57);
}

.orderInfo{
  display: flex;
  flex-direction: row;
  font-weight: 100;
}

.itemName{
  display: flex;
  flex-direction: column;
  width: 9vw;
  background-color: aliceblue;
  font-weight: 100;
}

.itemInfo{
  display: flex;
  flex-direction: column;
  width: 5vw;
  background-color: antiquewhite;
  font-weight: 100;
}

.orderDesc{
  font-weight: 200;
}

.orderTotal{
  display: flex;
  flex-direction: row;
  border-top: 1.5px solid rgb(46, 46, 46);
}
